Package: clouder
Version: 1.1.4
Architecture: amd64
Maintainer: Oleg Obleukhov <leoleovich@yandex-team.ru>
Installed-Size: 120
Depends: bash, sed (>= 4.0), kpartx (>= 0.4.8-14), e2fsprogs (>= 1.41.11), coreutils (>= 7.4-2), debootstrap (>= 1.0.37), tar (>= 1.22), grub (<= 0.98), grub-common (>= 1.98), qemu-kvm (>= 0.12.3), rinse (>= 1.9)
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: simple tool for creating OS-image for qmeu kvm, lxc-container OR eine.
 <insert long description, indented with spaces>
